CSS - «каскадные таблицы стилей»

В CSS существует огромное количество свойств. Их можно разбить группы:
оформление текста;
работа с размерами и отступами;
позиционирование элементов;
создание сеток;
декоративные: цвета, фон, тени;
другие.

clear: none | left | right | both | inherit
===Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами. 
Если задано обтекание элемента с помощью свойства float, то clear отменяет его действие для 
указанных сторон.
"none"
Отменяет действие свойства clear, при этом обтекание элемента происходит, как задано с помощью свойства float или других настроек.
"both"
Отменяет обтекание элемента одновременно с правого и левого края. Это значение рекомендуется устанавливать, когда требуется снять обтекание элемента, но неизвестно точно с какой стороны.
"left"
Отменяет обтекание с левого края элемента. При этом все другие элементы на этой стороне будут опущены вниз, и располагаться под текущим элементом.
"right"
Отменяет обтекание с правой стороны элемента.
"inherit"
Устанавливает значение родителя.

float: left | right | none | inherit

===Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон. Когда значение свойства float равно none, элемент выводится на 
странице как обычно, при этом допускается, что одна строка обтекающего текста может быть на той же линии, что и сам элемент.
"left"
Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне.
"right"
Выравнивает элемент по правому краю, а все остальные элементы обтекают его по левой стороне.
"none"
Обтекание элемента не задается.
"inherit"
Наследует значение родителя.

Приоритет каскадности(назначения свойств)
Главный - тег style - id - class - тег - Низший
среди одинаковых класов выберется тот что стоит последним в css файле

Правила для ссылок, это правильный порядок применения, в другом - некоторые могут не сработать
a:link { ... } выбирает ещё не посещённые ссылки
a:visited { ... } выбирает посещённые ссылки
a:hover { ... } выбирает ссылки при наведении курсора
a:active { ... } выбирает активные ссылки (кнопка мыши зажата на ссылке)


background: [bc] [bi] [br] [bp] [ba];
/* Обозначения:
[bc] — background-color
[bi] — background-image
[br] — background-repeat
[bp] — background-position
[ba] — background-attachment
*/







































